@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");

:root {
  --General-width: 90%;
  --transition: all 0.2s linear;
  --scale: scale(1.2);
  --card-scale: scale(1.05);
  --pop-600: 600;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  padding: 5px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(82, 18, 201);
  background: linear-gradient(
    180deg,
    rgba(82, 18, 201, 0.6642254313834909) 12%,
    rgba(56, 50, 152, 1) 92%
  );
}

.header-container {
  width: var(--General-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Spinner */

.spinner {
display: block;
}

.loader {
  animation: infinite-spinning 4s infinite;
  animation-timing-function: linear;
  transform-origin: 335% 500%;
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.moon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px;
  width: 200px;
  height: 200px;
  background: #c7cbd0;
  border-radius: 50%;
  box-shadow: inset -25px 0px 0 0px #9098a1;
  transition: transform 0.2s ease-in-out;
}

.moon:hover {
  transform: scale(1.2);
}

.crater {
  position: absolute;
  list-style: none;
  background: #737277;
  border-radius: 50%;
}
.crater:nth-child(1) {
  left: 25px;
  top: 60px;
  width: 50px;
  height: 50px;
  box-shadow: inset 6px -2px 0 0px #414043;
}
.crater:nth-child(2) {
  left: 150px;
  top: 50px;
  width: 25px;
  height: 25px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.crater:nth-child(3) {
  left: 100px;
  top: 150px;
  width: 25px;
  height: 25px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.crater:nth-child(4) {
  left: 50px;
  top: 150px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #414043;
}

.crater:nth-child(5) {
  left: 87.5px;
  top: 16.66666667px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #414043;
}

.crater:nth-child(6) {
  left: 114.28571429px;
  top: 80px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #414043;
}

.crater:nth-child(7) {
  left: 181.81818182px;
  top: 100px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #414043;
}

/*Spinner end*/

.imgCardcontainer {
  min-height: 318px;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.imgCardcontainer img {
  width: 148%;
  height: 348px;
  margin-bottom: 7%;
  transition: var(--transition);
}

#addDynamicCards {
  width: var(--General-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cardContainer {
  width: 30%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
  padding: 18px 18px;
  background-color: rgb(16, 16, 16, 0.5);
  border-radius: 10px;
  transition: var(--transition);
  position: relative;
  box-shadow: 5px 10px;
}

.cardContainer .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 10% 0;
  color: white;
}

.title h2 {
  margin-right: 7px;
}

.title h3 {
  margin-right: 7px;
  width: 85%;
}

.cardContainer:hover {
  transform: var(--card-scale);
  border: 2px solid yellow;
}

.logo img {
  width: 80px;
  transition: var(--transition);
}

.imgCardcontainer img:hover {
  transform: var(--scale);
  border: 2px solid yellow;
}

.logo img:hover {
  transform: var(--scale);
}

nav {
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  transition: var(--transition);
}

.nav-link:hover {
  transform: var(--scale);
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
  font-weight: var(--pop-600);
}

footer {
  background-color: #320187;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  height: 50px;
}

#light-house-avoid-error {
  display: none;
}

.bigPopup h2,
.description {
  color: white;
  padding: 32px;
  text-align: center;
}

.popupWin {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  z-index: 40;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.8);
}

.bigPopup {
  position: relative;
  width: 85%;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.840696019618785) 0%,
    rgba(56, 50, 152, 1) 100%
  );
  margin: 24px auto;
  row-gap: 15px;
  border-radius: 10px;
}

.popup-class-image {
  width: 80%;
  padding: 20px;
  border: 2px solid yellow;
}

.bigPopup span {
  align-self: flex-end;
  padding: 20px;
}

#closePopup {
  color: white;
  font-weight: var(--pop-600);
  cursor: pointer;
  font-size: 25px;
  transition: var(--transition);
}

#closePopup:hover {
  transform: var(--scale);
}

#userName,
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 20px;
}

textarea::-webkit-scrollbar {
  display: none;
}

::placeholder {
  padding: 15px;
}

.bigPopup p {
  width: 80%;
  margin: 0 auto;
  line-height: 20px;
  font-weight: 500;
  color: white;
}

#ul-comment-dynamic-link li {
  color: white;
  padding: 5px;
}

#item-count {
  color: #fff;
  font-weight: var(--pop-600);
}

.small-class {
  align-self: flex-end;
  margin-bottom: 7%;
  color: white;
  font-weight: var(--pop-600);
  position: absolute;
  right: 10px;
  bottom: 60px;
}

#comentDynamicList {
  height: 70px;
  overflow-y: auto;
}

#comentDynamicList li {
  color: #fff;
}

.fa-heart {
  font-size: 20px;
  transition: var(--transition);
  position: absolute;
  right: 18px;
  bottom: 120px;
}

.title h3 {
  margin-bottom: 20px;
}

.comment,
#popupComment {
  position: absolute;
  bottom: 12px;
  width: 60%;
  margin-bottom: 5%;
  padding: 10px 15px;
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  transition: var(--transition);
  font-weight: var(--pop-600);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.img-container-popup {
  display: flex;
  justify-content: center;
}

.comment:hover,
#popupComment:hover {
  transform: var(--scale);
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid yellow;
}

.bigPopup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 18px auto;
  height: 300px;
}

#comment-box-id {
  height: 500px;
  margin-bottom: 120px;
}

.fa-heart:hover {
  transform: var(--scale);
  color: red;
}

#ul-header {
  display: flex;
  gap: 10px;
}

@media (min-width: 1200px) {
  .small-class {
    bottom: 70px;
  }
}

@media (max-width: 900px) {
  .cardContainer {
    width: 44%;
  }

  .bigPopup p {
    overflow-y: auto;
    height: 200px;
  }

  .header-container {
    flex-direction: column;
  }

  .commentStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #comentDynamicList {
    width: 70%;
  }

  #userName,
  textarea {
    width: 180%;
  }

  #ul-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #ul-header .nav-link a {
    width: 100%;
  }

  .small-class {
    bottom: 50px;
  }

  .bigPopup h2,
  .description {
    padding: 12px;
  }

  #comment-box-id {
    margin-bottom: 86px;
  }

  .comment,
  #popupComment {
    width: 87%;
  }

  #userName,
  textarea {
    height: 50px;
  }

  #comentDynamicList li {
    font-size: 14px;
  }
  .comment:hover,
  #popupComment:hover {
    transform: scale(1.1);
  }

  .comment,
  #popupComment {
    margin: 10px;
  }

  .cardContainer {
    height: 569px;
    box-shadow: 5px 10px;
  }

  .imgCardcontainer img {
    height: 378px;
    margin-bottom: 80px;
  }

  .imgCardcontainer img:hover {
    transform: scale(1.1);
    border: none;
  }

  .title h3 {
    margin-right: 7px;
    position: absolute;
    bottom: 90px;
    width: 80%;
  }

  .fa-heart {
    content: "\f004";
    position: absolute;
    right: 25px;
    bottom: 112px;
    font-size: 20px;
  }

  .bigPopup h2,
  .description {
    font-size: 22px;
  }

  .bigPopup p {
    font-size: 14px;
  }
}

@media (max-width: 682px) {
  .cardContainer {
    width: 100%;
  }

  #ul-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .small-class {
    bottom: 50px;
  }
}

.cardContainer::before,
.cardContainer::after,
.bigPopup::before,
.bigPopup::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #382fe2,
    #0404bf,
    #5212c9,
    #4d0bc0,
    #740808,
    #8d0b57,
    #00f
  );
  background-size: 200%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 15s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.cardContainer::after,
.bigPopup::after {
  filter: blur(50px);
  border: 2px solid yellow;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #5213a0 #fafafa36;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #fafafa33;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #5213a0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
